<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618452105478-83pf3jvfh8tov88oi77um8pn1j88fepm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618452105478-83pf3jvfh8tov88oi77um8pn1j88fepm</string>
	<key>API_KEY</key>
	<string>AIzaSyBzNRBXi2IIpxgz22G43az86Vv5VAu-JjM</string>
	<key>GCM_SENDER_ID</key>
	<string>618452105478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.designcode.SweaterShopDemo</string>
	<key>PROJECT_ID</key>
	<string>sweatershopfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>sweatershopfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618452105478:ios:f38fa55b79b850752e4687</string>
</dict>
</plist>